{% extends "base.html" %}
{% block title %}Nuevo Ciclo lectivo{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  
  <h4 class="center">Detalles Ciclo Lectivo:</h4>
  <div class="divider black"></div><br>
  <div class="container">
  <ul class="collection">
    <li class="collection-item avatar">
      <p> Fecha de inicio : {{ school_year.start_date }} </p>
      <p> Fecha de fin : {{ school_year.end_date }} </p>
      <p> {{ school_year.semesters }} </p>
      <input type="button" value="Ver Talleres">
    </li>
  </ul>
</div>
  

{% endblock %}
