{% extends "base.html" %}
{% block content %}
<div class="container">
  <form class="form-group" method="POST" action="{{ url_for('users.update', user_id=user.id) }}">

    <label for="first_name"> Nombre </label>
    <input class="form-control" type="text" value="{{user.first_name}}" name="first_name">

    <label for="last_name"> Apellido </label>
    <input class="form-control" type="text" value="{{user.last_name}}" name="last_name">

    <label for="email"> Email </label>
    <input class="form-control" type="email" value="{{user.email}}" name="email">

    <label for="username"> Nombre de usuario </label>
    <input class="form-control" type="text" value="{{user.username}}" name="username">

    <label for="active"> Activo </label>
    {% if user.active %}
      <input class="form-control" type="checkbox" value="{{user.active}}" name="active" checked>
    {% else %}
      <input class="form-control" type="checkbox" value="{{user.active}}" name="active">
    {% endif %}
    
    <label for="role"> Rol </label>
    <input class="form-control" type="text" value="{{user.rol}}" name="rol">

    <input class="btn btn-success" type="submit" value="Editar">
  </form>
</div>
{% endblock %}
