{% block title %}creacion de usuario{% endblock %}
{% block body %}

<div id="form-create-user" name="create_user_form">
  <label for="email">
  <input id="email" type="text" v-model="email">

  <label for="name">
  <input id="name" type="text" v-model="name">

  <label for="surname">
  <input id="surname" type="text" v-model="surname">

  <label for="username">
  <input id="username" type="text" v-model="username">

  <label for="password">
  <input id="password" type="text" v-model="password">

  <select name="role" v-model="role">
    <option name="" value="" selected>NINGUNO</option>
    <option name="" value="admin">ADMIN</option>
    <option name="" value="profesor">PROFESOR</option>
    <option name="" value="preceptor">PRECEPTOR</option>
  </select>
  <!-- TODO: eliminar si no se necesitan agregar nuevos roles
  <select name="role"  v-model="role">
    <option v-for="role in roles" v-bind:value="role.id">
      [[ role.name ]]
    </option>
  </select>
  -->
  <button id="crear-usuario" @click="submit()">Agregar usuario</button>
</div>

{% endblock %}

{% block javascript %}
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><Paste>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#form-create-user',
	delimiters: ['[[', ']]'],
  data: {
    name: '',
    surname: '',
    username: '',
    password: '',
    email: '',
    role: '',
    success_create_msg: '',
  },
  methods: {
    submit: function () {
      axios
        .post('/create_user', {
          name: this.name,
          surname: this.surname,
          username: this.username,
          password: this.password,
          email: this.email,
          rol: this.role,
        })
        .then(() => {
          this.success_create_msg = response.msg;
        })
        .catch(() => {
          alert("No se pudo crear el usario");
        });
    },
  }
})
</script>
{% endblock %}
