{% extends "base.html" %}
{% block title %}Detalle docente{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<h4 class="center">Detalles docente:</h4>
<div class="divider black"></div><br>
<div class="container">
<ul class="collection">
<li class="collection-item avatar">
      <i class="material-icons circle green">account_circle</i>
      <span class="title"><h5>{{ teacher.name }} {{ teacher.surname }}</h5></span>
      <p>Fecha de nacimiento: {{ teacher.birth_date }}<br>
         Localidad: {{ teacher.locality }}<br>
         Direccion: {{ teacher.address }}<br>
         Tipo de documento: {{ teacher.document_type }}<br>
         Nro de documento: {{ teacher.document_number }}<br>
         Telefono: {% if teacher.phone %} {{ teacher.phone }} {% endif %}
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    </ul>
    <form class="right" method="POST" action="{{ url_for('teachers.delete', teacher_id=teacher.id) }}"><a href="{{ url_for( 'teachers.list' ) }}" class="btn waves-effect waves-light">Volver</a><button class="btn waves-effect waves-light red darken-2" type="submit">Borrar</button></form>
    <br><br>
</div>
{% endblock %}
