{% extends 'base.html' %}
{% block title %}Detalles estudiante{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h4 class="center">Detalles estudiante:</h4>
  <div class="divider black"></div><br>
  <div class="container">
  <ul class="collection">
  <li class="collection-item avatar">
        <i class="material-icons circle green">account_circle</i>
        <span class="title"><h5>{{ student.name }} {{ student.surname }}</h5></span>
        <p>Fecha de nacimiento: {{ student.birth_date }}<br>
           Lugar de nacimiento:{% if student.borned %} {{ student.borned }} {% endif %}<br>
           Localidad: {{ student.locality }}<br>
           Direccion: {{ student.address }}<br>
           Barrio:{{  neighborhood.name }}<br>
           Genero: {{ student.gender }}<br>
           Tipo de documento: {{ student.document_type }}<br>
           Nro de documento: {{ student.document_number }}<br>
           Tutor: {{ student.tutor }}, {{ student.tutor_name }}<br>
           Telefono: {% if student.phone %} {{ student.phone }} {% endif %}<br>
           Colegio: {{ school.name }}<br>
           Nivel:{{ level.name }}
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      </ul>
      <form class="right" method="POST" action="{{ url_for('students.delete', student_id=student.id) }}"><a href="{{ url_for( 'students.list' ) }}" class="btn waves-effect waves-light">Volver</a><button class="btn waves-effect waves-light red darken-2" type="submit">Borrar</button></form>
      <br><br>
</div>

{% endblock %}
